<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>PP_Spring_Image_Upload</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" src="webjars/requirejs/2.3.6/require.min.js"></script>
    <script type="text/javascript" src=""></script>
</head>
<body>

<div>
    <span th:text ="authorities.name"></span>
    <span th:text ="authenticated.name"></span>
    <span sec:authentication="name" /> has <span sec:authentication="authorities" />
</div>

Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>




<div>
    <span sec:text="principal.getUsername()">asdsad</span> has <span sec:authentication="principal.getAuthorities()" >HELLO </span>
    <form method="post" th:action="@{/logout}" >
        <input type="submit" value="Sign Off" />
    </form>
</div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('USER')">
    This content is only shown to users.
</div>


<h1>
    Learning Spring
</h1>


<h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>
<div>
    <h3 th:text="${page.number+1} + ' of ' + ${page.totalPages}" />
    <h4 th:text="${page.size} + ' item(s) per page ' "/>
</div>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Image</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="image :${page.content}">
        <td th:text="${image.id}"></td>
        <td th:text="${image.name}"></td>
        <td><a th:href="@{'/images/'+ ${image.name} + '/raw/' }"><img class="thumbnail" th:src="@{'/images/'+ ${image.name} + '/raw/' }" /></a></td>
        <td>
            <form th:method="delete" th:action="@{'/images/' + ${image.name}}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>

    </tbody>
</table>

<ul>
    <li th:if="${prev}"><a th:href="@{/(size=${prev.pageSize}, page= ${prev.pageNumber})}" >Prev</a></li>
    <li th:if="${next}"><a th:href="@{/(size=${next.pageSize}, page= ${next.pageNumber})}" >next</a></li>
</ul>

<form method="post" enctype="multipart/form-data" action="/images" >
    <p><input type="file" name="file" /> </p>
    <p><input type="submit" value="Upload" /> </p>
</form>
<script th:inline="javascript">
 /*<![CDATA[*/
 (
     function(){
        window.require(["webjars/stomp-websocket/2.3.3/stomp.min.js","webjars/sockjs-client/1.1.5/dist/sockjs.js"],
            function(stomp, SockJS){
                var socket = SockJS("/imageMessage");
                var stompClient = Stomp.over(socket);

                var redrawCurrentPage = function(message){
                    console.log(message);
                    window.location =  /* [[@{/(size=${page.size}, page=${page.number})}]] */"";
                }
                stompClient.connect({/* */}, function(frame){
                    stompClient.subscribe("/topic/newImage", redrawCurrentPage);
                    stompClient.subscribe("/topic/deleteImage", redrawCurrentPage);
                });
            });
     }
 )();

 /*]]>*/

</script>



</body>
</html>